.loading-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.loading-image {
    transform: scale(0.5);
    animation: grow 2s ease-in-out infinite;
}

.redirect-image {
    transform: scale(0.8);
    animation: redirect-grow 2s ease-in-out infinite;
}

@keyframes grow {
    0% { transform: scale(0.4); }
    50% { transform: scale(0.5); }
    100% { transform: scale(0.4); }
}

@keyframes redirect-grow {
    0% { transform: scale(0.7); }
    50% { transform: scale(0.8); }
    100% { transform: scale(0.7); }
}
